@import "./fonts.scss";

.poll-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.poll-question {
  margin-top: 10px;
  margin-bottom: 10px;
}

.question-header {
  color: white;
  display: flex;
  font-weight: bold;
  font-style: $font;
  margin-bottom: 2px;
  text-decoration: none;
  padding: 5px;
}

.text-area {
  width: 800px;
  height: 40px;
  font-style: $font;
}
