/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

 /* MAIN PAGE CSS */


/* hyperlink container for the logo */

.logo-form {
    display: flex;
}
/* main logo to the page */

.logo {
    // font-family: 'Gill Sans';
    // color: white;
    width: 10%;

    // align-self: start;
}
// Title of Main Page NOT USED
.title {
    font-family: 'Gill Sans';
    color: white;
    font-size: 40px;
    // display: flex;
    // // justify-content: start;
}

.splash-image {
    display: flex;
    flex-wrap: wrap;
}

 /* nav for the nav bar, keeps its top right */
 .login-signup {
     float: right;
     display: flex;
    //  justify-content: right;
     font-weight: bold;
     flex-wrap: wrap;
}

 /* nav bar username */
.header-main {
    position: relative;
    right: 50px;
    font-family: 'Gill Sans';
}
/* nav bar container */
.topnav {
    background-color:white;
    padding: -10px;
    margin: -10px;
    // display: flex;
    // justify-content: center;
}

// nav bar test user 
.test-user {
    display: flex;
    flex-wrap: wrap;
}
.errors {
    color: darkred;
    list-style: none;
    // padding: 2px;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.error-items {
    padding: 2px;
}

/* Log out Button for User on Nav Bar */
.header-button {
    font-family: 'Gill Sans';
    background-color: #6193C5;
    color: white;

}

/* link to the sign up on nav bar */
.signup-link {
    color: white;
    font-family: 'Gill Sans';
    position: relative;
    // right: 10px;
    // top: 10px;
}

/* link to the log in on nav bar */
.login-link {
    color:white;
    font-family: 'Gill Sans';
    position: relative;
    // right: 10px;
    // top: 10px;
}


/*  div surrounding the buttons on the nav bar */
.button {
    background-color: #6193C5;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 0px;
    right: 0px;
}

/*  nav bar header container */
.nav-bar {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* LOGIN PAGE CSS */


/* Label for the log in Email or Username */

.login-form-container {
    display: flex;
    justify-content: center;
}

// box for the login info

.login-form-box {
    position: absolute;
    left: 50%;
    top: 20%;
}

/*  Title   for the log in page */
.login-title {
    position: absolute;
    left: 50%;
    top: 15%;
    font-family: 'Gill Sans';
    font-size: 20px;
    display: flex;
    /* right: 85px; */
    /* justify-content: center; */
    /* position: absolute; */
    // top: 45px;
    flex-direction: column;
}
/* Login Button */
.login-submit {
    position: relative;
    top: 40%;
    // position: relative;
    // right: 500px;
    background-color: #95372F;
    background-size: 300px 100px;
    color: white;
    font-size: 20px;
    padding: 10px 150px;
    margin: 10px 10px;
    font-family: 'Gill Sans'
}

.login-key {
    display: flex;
    justify-content: center; 
    font-style: italic;
    color: grey;
}

/* login input */
.login-email-input {
    /* position: relative; */
    /* left: 500px; */
    width: 325px;
    height: 30px;
    margin: 10px;
}


/* SIGN UP PAGE CSS */

/* title to the sign up page */
.signup-title {
    font-family: 'Gill Sans';
    color: white;
    
}

/*  surrounding div for the sign up form */

.signup-form-container {
    background-color: #6193C5;
    // padding: 0px;
    // margin: 100px 100px;
    width: 40%;
    margin: 100px;
}

/* box around the form */
.form-box {
    background-color:white;
    width: 50%;
    display: flex;  
    flex-wrap: wrap;
    
}

/* Sign up button */
.signup-submit {
    /* position: relative;
    left: 400px;
    top: 50px; */
    background-color: #6193C5;
    /* background-size: 300px 100px; */
    color: white;
    font-size: 20px;
    padding: 10px 80px;
    margin: 10px 10px;
}



/* Labels for the Sign up inputs */
.email, .password, .firstname, .lastname, .username {
    color: grey;
}

/* Email label moved over to match others */
/* .email {
    position: relative;
    left: 24px;
} */
/* text box's for input values */
.email-input, .username-input, .firstname-input, .lastname-input, .password-input {
    width: 200px;
    height: 30px;
    margin: 5px;

}

