/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.main-header {
    /* float: left; */
    color: blue;
    font-size: 30px;
    font-family: Belle Sans, bold;
}

.session-submit {
    background-color: red;
};

.header-main {
    color: red;
};
.signup-button {
    color: red;
};

.buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}

.nav-bar {
    position: absolute;
    top: 0px;
    right: 0px;
};

.session-form {
    position: absolute;
    top: 0px;
    right: 0px;

}

