/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
@import "./question_index.scss";
@import "./reset.scss";
@import "./signup-alt.scss";
@import "./edit-form.scss";
@import "./create-form.scss";
@import "./show-form.scss";
@import "./index.scss";
@import "./poll.scss";
@import "./buttons.scss";
@import "./fonts.scss";
@import "./username.scss";
@import "./answers.scss";

// .body {
//     font-family: sans-serif;
// }
//  Splash CSS

.logo-form {
  background-image: image_url("poll_everywhere.png");
  // background-position-y: center;
  background-size: cover;
  position: absolute;
  width: 300px;
  z-index: inherit;
  height: 60px;
}
.whole-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.create-errors {
  display: flex;
  padding: 10px;
  flex-direction: column;
  color: red;
  // background-color: #FDBEB9;
  // color: darkred;
}

.question-error-items {
  display: flex;
  padding: 5px;
  font-size: $error-messages;
  justify-content: space-around;
  color: red;
  background-color: #fdbeb9;
  // margin: -5px 7px 0px 7px;
  // width: 290px;
}

.userbar {
  color: white;
  // padding: 20px;
  background-color: #0265a8;
  // padding-right: 5px;
  text-decoration: none;
  border: none;
  background: none;
  // display: flex;
  justify-content: flex-end;
  // flex-direction: column;
  padding-right: 30px;
  padding-top: 20px;
  outline: none;
  position: relative;
  margin-left: 35px;
  padding-right: 50px;
  z-index: 9999;
  opacity: 0.8;
}
.userbar:hover {
  opacity: 1;
}

.user-dropdown-items {
  padding-top: 5px;
  position: absolute;
  right: 45px;

  // background-color: white;
  // color: #0265A8;
  // padding-top: 90px;
}
.blurb-subtext {
  margin-top: 5px;
}
.main-paragraph {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.main-paragraph-image {
  display: flex;
}

.splash-main {
  width: 202%;
  background-color: #efefef;
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: space-evenly;
}
.main-text {
  font-weight: $bold;
  font-size: $Large;
  font-family: $font;
  font-size: $Large;
  padding-bottom: 20px;
}
.subtext {
  font-family: $font;
  font-size: $subparaHeader;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.main-content {
  font-family: $font;
  font-size: $subLarge;
}
.main-image {
  width: 550px;
}

.arrow {
  align-items: flex-end;
  background-image: linear-gradient(
    120deg,
    #fff,
    #fff 40px,
    #2665a9 42px,
    #2665a9
  );
  height: 62px;
  position: absolute;
  right: 0px;
  width: 210px;
}

.learning-blurbs {
  display: flex;
  justify-content: space-around;
}
.blurb {
  h3 {
    font-size: $paraHeader;
    font-weight: $bold-light;
  }
  padding: 5px;
  font-family: $font;
  flex-wrap: flex;
  font-size: $subparaHeader;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-around;
}

.group-dropdown {
  .arrow-collapsible {
    margin-right: 5px;
  }
  .arrow-collapsible::before {
    content: "\2228";
  }
  &.hide-items {
    .group-dropdown-question {
      height: 0px;
      overflow: hidden;
    }
    .arrow-collapsible::before {
      content: ">";
    }
  }
}
.blurb-image {
  display: flex;
  height: 120px;
  width: 120px;
  justify-content: center;
  padding-bottom: 20px;
}

.footer {
  background-color: #e7e7e7;
  width: 100%;
  display: flex;
  justify-content: left;
  overflow: hidden;
}

.footerlink-a {
  text-decoration: none;
  font-family: $font;
  color: black;
  font-size: $subparaHeader;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  margin: 1px;
  text-decoration: none;
  font-weight: 600;
}

.footerlinks {
  text-decoration: none;
  font-family: $font;
  color: black;
  font-size: $subparaHeader;
  height: 50%;
  display: flex;
  padding: 10px;
  margin: 20px;
  font-weight: 600;
}

.pipe-seperator {
  color: grey;
  font-size: 21px;
  padding: 26px 10px;
}

.footer a {
  display: contents;
  justify-content: flex-end;
  text-decoration: none;
}
.footer-image {
  width: 26%;
}

.link-to-signup-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.link-to-signup {
  font-family: $font;
  font-size: $nav-button-link;
  margin: 5px;
}

.get-started {
  margin: 30px;
  padding: 100px;
}

.engage-blurb {
  display: flex;
  font-family: $font;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  margin: 10px;
  // justify-content: space-around;
}

.bottom-links {
  font-family: $font;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github-link {
  display: flex;
  align-items: center;
}

.logos {
  width: 5%;
  margin-left: 30px;
}
.github-logo {
  width: 5%;
}

.logo-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

/* MAIN PAGE CSS */

.wayne-icon {
  width: auto;
  height: auto;
}
.lexcorp-icon {
  width: 10%;
  height: auto;
}

.icons {
  display: flex;
  justify-content: space-around;
}
/* hyperlink container for the logo */

.signup-page-container {
  display: flex;
  background-color: #efefef;
  width: 100%;
  position: fixed;
  height: 100%;
}

/* main logo to the page */

.logo {
  // font-family: 'Gill Sans';
  // color: white;
  height: 100%;
  padding-left: 25px;

  // align-self: start;
}
// Title of Main Page NOT USED
.title {
  font-family: $font;
  color: white;
  font-size: $Large;
  // display: flex;
  // // justify-content: start;
}

.splash-image {
  display: flex;
  align-items: center;
  height: 350px;
  // padding-left: 200px;
  // padding-right: 200px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #efefef;
  // margin: 23px;
  margin-top: 168px;
  padding-left: 50px;
  height: auto;
  width: auto;
  margin-left: 100px;
}
.nav-bar {
  height: 60px;
  height: 60px;
  top: 0px;
  left: 0px;
  // position: absolute;
  width: 100%;
  background: white;
  border-bottom: 1px solid lightgray;
}

/* nav for the nav bar, keeps its top right */

/* nav bar username */
.header-main {
  position: relative;
  right: 50px;
  font-family: $font;
}
/* nav bar container */
.topnav {
  // align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  height: 62px;
  // background-image: linear-gradient(120deg, #fff, #fff 40px, #2665A9 42px, #2665A9);
  background-position: 10000px;
  // background-image: linear-gradient(120deg, #fff, #fff 40px, #2665A9 42px, #2665A9);
  // display: flex;
  // justify-content: center;
}

// nav bar test user

.errors-signup {
  color: darkred;
  list-style: none;
  // padding: 2px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  flex-wrap: flex;
  padding: 0px 4px;
  margin-top: 10px;
}

.errors {
  color: darkred;
  list-style: none;
  // padding: 2px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  flex-wrap: flex;
  padding: 0px 4px;
  margin-top: -5px;
}

.error-items {
  padding: 5px;
  font-size: $error-messages;
  justify-content: space-around;
  background-color: #fdbeb9;
  margin: -5px 7px 0px 7px;
  width: 290px;
}

/* Log out Button for User on Nav Bar */
.header-button {
  box-shadow: inset 0px 34px 0px -15px #2665a9;
  background-color: #2665a9;
  border: 1px solid #2665a9;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: $font;
  font-size: $nav-button-link;
  margin: 15px;
  // font-weight:bold;
  // padding:9px 23px;
  text-decoration: none;
  outline: none;
}

.login-page {
  display: flex;
  background-color: green;
}

/*  div surrounding the buttons on the nav bar */
.site-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0px 0px;
  padding-left: 50px;
  background-color: #2665a9;
  background-image: linear-gradient(
    120deg,
    #fff,
    #fff 40px,
    #2665a9 42px,
    #2665a9
  );
  position: absolute;
  height: 60px;
  top: 0px;
  right: 0px;
}

.site-header-right a {
  margin: 0rem 2rem;
}

/*  nav bar header container */

/* LOGIN PAGE CSS */

/* Label for the log in Email or Username */

.login-form-container {
  display: flex;
  justify-content: center;
}

// box for the login info

.login-form-box {
  position: absolute;
  left: 45%;
  top: 20%;
  /* margin: 0px; */
  flex-direction: column;
}

/*  Title   for the log in page */
.login-title {
  font-family: $font;
  font-size: $entry-field-header;
  display: flex;
  padding-left: 5px;
  /* right: 85px; */
  // justify-content: center;
}

.login-key {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: grey;
}

/* login input */
.login-email-input {
  /* position: relative; */
  /* left: 500px; */
  width: 325px;
  height: 30px;
  margin: 10px;
}

/* SIGN UP PAGE CSS */

/* title to the sign up page */
.signup-title {
  font-family: $font;
  color: white;
  margin: 30px 20px;
  font-size: 50px;
  // width: 500px;
  font-weight: 600;
  text-align: center;
}

.signup-visual {
  // display: flex;
  // height: 100vh;
  // width: 24.5%;
  background-color: #efefef;
  flex-grow: 1;
}

/*  surrounding div for the sign up form */

.signup-form-container {
  background-color: #2665a9;
  padding: 82px;
  // margin: 100px 100px;
  // min-width: 400px;
  // max-width: 450px;
  // height: auto;
  // width: 35%;
  flex-grow: 1;
  justify-content: center;
  // margin: 10px;
}

/* box around the form */
.form-box {
  background-color: white;
  width: 350px;
  // display: flex;
  flex-wrap: wrap;
  // margin: 54px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  justify-content: center;
  border-radius: 3px;
  padding-left: 35px;
  margin: 0px auto;
  // height: 400px;
}

/* Labels for the Sign up inputs */
.email,
.password,
.firstname,
.lastname,
.username {
  color: grey;
}

/* Email label moved over to match others */
/* .email {
    position: relative;
    left: 24px;
} */
/* text box's for input values */
.form-box input,
.login-form-box input {
  width: 290px;
  height: 30px;
  margin: 10px;
  padding-left: 5px;
  margin-top: 15px;

  // font-style: italic;
}

.show-header {
  background-color: #e6f2fa;
  width: 80%;
  height: 40px;
  margin-left: 200px;
  margin-top: -195px;
  margin-bottom: 200px;
  padding-left: 30px;
  padding-top: 20px;
  font-family: $font;
}

.show-title {
  width: 100%;
  height: 40px;
  margin-left: 180px;
  margin-top: -195px;
  margin-bottom: 200px;
  padding-left: 30px;
  padding-top: 20px;
  font-family: $font;
  font-weight: 600;
}
