/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
@import "./question_index.scss";
@import "./reset.scss";
@import "./signup-alt.scss";



// .body {
//     font-family: sans-serif;
// }
//  Splash CSS
.whole-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;

}

.userbar {
    color: white;
    padding: 20px;
    background-color: #0265A8;
    // padding-right: 5px;
    text-decoration: none;
    border: none;
    background: none;
    // display: flex;  
    justify-content: flex-end;    
    // flex-direction: column;
}

.user-dropdown-items {
    background-color: white;
    color: #0265A8
}



.main-paragraph {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.main-paragraph-image {
    display: flex;
}

.splash-main {
    width: 202%;
    background-color: #EFEFEF;
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
}
.main-text {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans';
    padding-bottom: 20px;

}
.subtext {
    font-family: 'Gill Sans';
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.main-content {
    font-family: 'Gill Sans';
    font-size: 30px;
}
.main-image {
    width: 550px;
}

.arrow {
    align-items: flex-end;
    background-image: linear-gradient(120deg, #fff, #fff 40px, #2665A9 42px, #2665A9);
    height: 62px;
    position: absolute;
    right: 0px;
    width: 210px;
}

.learning-blurbs {
    display: flex;
    justify-content: space-around;
}
.blurb {
    padding: 5px;
    font-family: 'Gill Sans';
    flex-wrap: flex;
    font-size: 14px;
    display: flex;
    align-items:  left;
    flex-direction: column;
    justify-content: space-around;
}

.blurb-image {
    display: flex;
    height: 120px;
    width: 120px;
    justify-content: center;
    padding-bottom: 20px;
    
}

.footer {
    background-color: #E7E7E7;
    width: 100%;
    display: flex;
    justify-content: left;
    overflow: hidden;
}

.footerlink-a{
    text-decoration: none;
    font-family: 'Gill Sans';
    color: black;
    font-size: 15px;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    margin: 1px;
    text-decoration: none;
    font-weight: 600;
}

.footerlinks {
    text-decoration: none;
    font-family: 'Gill Sans';
    color: black;
    font-size: 15px;
    height: 50%;
    display: flex;
    padding: 10px;
    margin: 20px;
    font-weight: 600;
}

.pipe-seperator{
    color: grey;
    font-size: 21px;
    padding: 26px 10px;
}

.footer a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.footer-image {
    width: 26%;
}

.link-to-signup-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.link-to-signup {
    font-family: 'Gill Sans';
    font-size: 12px;
    margin: 5px;
}


.signup-link-page {
    box-shadow:inset 0px 34px 0px -15px #0265A8;
	background-color:#0265A8;
	border:1px solid #0265A8;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	// font-weight:bold;
	padding:9px 13px;
    text-decoration:none;
    margin: 0px auto;
    width: 120px;
    text-align: center;
    

}

.get-started {
    margin: 30px;
    padding: 100px;
}

.engage-blurb {
    display: flex;
    font-family: 'Gill Sans';
    align-items:  center;
    flex-direction: column;
    padding: 100px;
    margin: 10px;
    // justify-content: space-around;
}


.bottom-links {
    font-family: 'Gill Sans';
    display: flex;
    align-items: center;
    justify-content: center;
}
.github-link {
    display: flex; 
    align-items: center;
}
.github-logo {
    width: 12%;
    height: 85%;
}
 /* MAIN PAGE CSS */

.wayne-icon {
    width: auto;
    height: auto;
}
.lexcorp-icon {
    width: 10%;
    height: auto;
}

.icons {
    display: flex;
    justify-content: space-around;
}
/* hyperlink container for the logo */

.signup-page-container {
    display: flex;
    background-color: #EFEFEF;
}

/* main logo to the page */

.logo {
    // font-family: 'Gill Sans';
    // color: white;
    height: 100%;
    padding-left: 25px;

    // align-self: start;
}
// Title of Main Page NOT USED
.title {
    font-family: 'Gill Sans';
    color: white;
    font-size: 40px;
    // display: flex;
    // // justify-content: start;
}

.splash-image {
    display: flex;
    align-items: center;
    height: 350px;
    // padding-left: 200px;
    // padding-right: 200px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #EFEFEF;
    // margin: 23px;
    margin-top: 168px;
    padding-left: 50px;
    height: auto;
    width: auto;
    margin-left: 100px;

}
.nav-bar {
    height: 60px;
    height: 60px;
    top: 0px;
    left: 0px;
    // position: absolute;
    width: 100%;
    background: white;
}

 /* nav for the nav bar, keeps its top right */


 /* nav bar username */
.header-main {
    position: relative;
    right: 50px;
    font-family: 'Gill Sans';
}
/* nav bar container */
.topnav {
    // align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    background-color:white;
    height: 62px;
    // background-image: linear-gradient(120deg, #fff, #fff 40px, #2665A9 42px, #2665A9);
    background-position: 10000px;
    // background-image: linear-gradient(120deg, #fff, #fff 40px, #2665A9 42px, #2665A9);
    // display: flex;
    // justify-content: center;
    
}

// nav bar test user 
.test-user {
    display: flex;
    background-color: #2665A9 ;
    color: white;
    font-family: 'Gill Sans';
    border-radius: 2px;
    box-shadow:inset 0px 34px 0px -15px #2665A9;
	background-color:#2665A9;
	border:1px solid #2665A9;

    // flex-wrap: wrap;
}
.errors-signup {
    color: darkred;
    list-style: none;
    // padding: 2px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    flex-wrap: flex;
    padding: 0px 4px;
    margin-top: 10px; 
}

.errors{
    color: darkred;
    list-style: none;
    // padding: 2px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    flex-wrap: flex;
    padding: 0px 4px;
    margin-top: -5px; 
}


.error-items {
    padding: 5px;
    font-size: .9rem;
    justify-content: space-around;
    background-color: #FDBEB9;
    margin: -5px 7px 0px 7px;
    width: 290px;
}

/* Log out Button for User on Nav Bar */
.header-button {
    box-shadow:inset 0px 34px 0px -15px #2665A9 ;
	background-color:#2665A9 ;
	border:1px solid #2665A9 ;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Gill Sans";
    font-size: 15px;
    margin: 15px;
	// font-weight:bold;
	// padding:9px 23px;
	text-decoration:none;

}

/* link to the sign up on nav bar */
.signup-link {
    color: #2665A9;
    font-family: 'Gill Sans';
    position: relative;
    font-size: 14px;
    background-color: white;
    text-decoration: none;
    padding: 9px;
    font-weight: 500;
}

.login-page {
    display: flex;
    background-color: green;
}

/* link to the log in on nav bar */
.login-link {
    color:white;
    font-family: 'Gill Sans';
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    // top: 10px;
}
header {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}


/*  div surrounding the buttons on the nav bar */
.site-header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0px 0px;
    padding-left: 50px;
    background-color: #2665A9;
    background-image: linear-gradient(120deg, #fff, #fff 40px, #2665A9 42px, #2665A9);
    position: absolute;
    height: 60px;
    top: 0px;
    right: 0px;
}

.site-header-right a {
    margin: 0rem 2rem;
}


.activities-link {
    box-shadow:inset 0px 34px 0px -15px #ffffff ;
	background-color:#ffffff ;
	border:1px solid #ffffff ;
	display:inline-block;
	cursor:pointer;
	color:#2665A9 ;
	font-family: "Gill Sans";
	font-size: 15px;
	// font-weight:bold;
	// padding:9px 23px;
    text-decoration:none;
    padding: 10px;

}

/*  nav bar header container */

/* LOGIN PAGE CSS */



/* Label for the log in Email or Username */

.login-form-container {
    display: flex;
    justify-content: center;;
}

// box for the login info

.login-form-box {
    position: absolute;
    left: 45%;
    top: 20%;
    /* margin: 0px; */
    flex-direction: column;
}

/*  Title   for the log in page */
.login-title {
    
    font-family: 'Gill Sans';
    font-size: 20px;
    display: flex;
    padding-left: 5px;
    /* right: 85px; */
    // justify-content: center;
   
}
/* Login Button */
// .login-submit {
//     position: relative;
//     top: 40%;
//     // position: relative;
//     // right: 500px;
//     background-color: #96372F;
//     background-size: 300px 100px;
//     color: white;
//     font-size: 20px;
//     padding: 10px 125px;
//     margin: 10px 10px;
//     font-family: 'Gill Sans'
// }

.login-submit {
    
	box-shadow:inset 0px 34px 0px -15px #A5332B;
	background-color:#A5332B;
	border:1px solid #A5332B;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	// font-weight:bold;
    padding:9px 23px;
    text-decoration: none;
    margin: 0px 10px;
    margin-top: 10px;
    width: 300px;
}
.login-submit:hover {
    opacity: 1
}

.login-key {
    display: flex;
    justify-content: center; 
    font-style: italic;
    color: grey;
}

/* login input */
.login-email-input {
    /* position: relative; */
    /* left: 500px; */
    width: 325px;
    height: 30px;
    margin: 10px;
}


/* SIGN UP PAGE CSS */

/* title to the sign up page */
.signup-title {
    font-family: 'Gill Sans';
    color: white;
    margin: 30px 20px;
    font-size: 50px;
    width: 500px;
    font-weight: 600;
    
}

.signup-visual {
    display: flex;
    // height: 100vh;
    width: 24.5%;
    background-color: #EFEFEF;
}

/*  surrounding div for the sign up form */

.signup-form-container {
    background-color: #2665A9;
    padding: 200px;
    // margin: 100px 100px;
    min-width: 400px;
    // max-width: 450px;
    height: auto;
    width: 35%;
    // margin: 10px;
}

/* box around the form */
.form-box {
    background-color:white;
    width: 350px;
    // display: flex;  
    flex-wrap: wrap;
    // margin: 54px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    justify-content: center;
    border-radius: 3px;
    padding-left: 35px;
    // height: 400px;
}


/* Sign up button */
.signup-submit {
    
    font-size: 17px;
    margin: 10px 10px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.blue-button {
    box-shadow:inset 0px 34px 0px -15px #2665A9;
    background-color:#2665A9;
	border:1px solid #2665A9;
	display:inline-block;
    cursor:pointer;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    
}



/* Labels for the Sign up inputs */
.email, .password, .firstname, .lastname, .username {
    color: grey;
}

/* Email label moved over to match others */
/* .email {
    position: relative;
    left: 24px;
} */
/* text box's for input values */
.form-box input, .login-form-box input{
    width: 290px;
    height: 30px;
    margin: 10px;
    padding-left: 5px;
    margin-top: 15px;



    // font-style: italic;

}

