@import "./fonts.scss";

/*    Sizes
    -Large wide (Lw)
    -Medium (M)
    -Small (S) */

/* Colors
    -Blue with white letters (Bw)
    -White with blue letters (Wb)
    -White with black letters (Wbl)
    -Red with white letters (Rw)
    -Green with white letters(Gw)
*/

// M, Wb
// Test user button on

$blue: #2665a9;
$red: #a5332b;

.nav-button {
  box-shadow: inset 0px 34px 0px -15px white;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  color: $blue;
  font-family: $font;
  font-size: $nav-button-link;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.button {
  cursor: pointer;
  font-family: $font;
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem, 0.75rem;
  line-height: 1.5;
}
.button-blue {
  background-color: $blue;
  color: white;
  box-shadow: inset 0px 34px 0px -15px $blue;
  background-color: $blue;
  border: 1px solid $blue;
  font-size: $nav-button-link;
  border-radius: 2px;
  padding: 9px;
  font-family: $font;
  cursor: pointer;
  text-decoration: none;
}

.button-white {
  background-color: white;
  color: $blue;
  font-size: $nav-button-link;
  box-shadow: inset 0px 34px 0px -15px white;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 9px;
  font-family: $font;
  cursor: pointer;
  text-decoration: none;
}

.button-red {
  background-color: $red;
  color: white;
  box-shadow: inset 0px 34px 0px -15px $red;
  background-color: $red;
  border: 1px solid $red;
  font-size: $nav-button-link;
  border-radius: 2px;
  padding: 9px;
  font-family: $font;
  cursor: pointer;
  text-decoration: none;
}

.button-whitegrey {
  background-color: #ffffff;
  border: none;
  border-top: 1px solid lightgrey;
  cursor: pointer;
  color: black;
  font-family: $font;
  font-size: $nav-button-link;
}
.button-whitegrey-large {
  background-color: #ffffff;
  border: none;
  border-top: 1px solid lightgrey;
  cursor: pointer;
  color: black;
  font-family: $font;
  font-size: $nav-button-link;
  width: 500px;
}

.flexed {
  display: flex;
}

.margin-right {
  margin-right: 30px;
}

.button-medium {
  width: 120px;
  display: block;
  padding: 9px 13px;
  font-size: $main-button-link;
  text-decoration: none;
  border-radius: 3px;
}

.centered {
  display: block;
  text-align: center;
  margin: 0px auto;
}

.bold-light {
  font-weight: $bold-light;
}

.button-large {
  font-size: $main-button-link;
  margin: 10px 10px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button-extra-large {
  font-size: $main-button-link;
  margin: 10px 10px;
  width: 800px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  display: flex;
  height: 40px;
}

.nav {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.one-half {
  margin: 0px;
  text-decoration: none;
  width: 50%;
  outline: none;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}
.one-third {
  margin: 0px;
  text-decoration: none;
  width: 33%;
  outline: none;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.button-white-special {
  background-color: white;
  color: $blue;
  box-shadow: inset 0px 34px 0px -15px white;
  background-color: white;
  border: 1px solid $blue;
  font-size: $nav-button-link;
  border-radius: 2px;
  padding: 9px;
  font-family: $font;
  cursor: pointer;
  text-decoration: none;
}
.button-white-special:hover {
  background-color: #ededed;
}

// Create question button

.word-list-button {
  font-style: $font;
  margin-top: 20px;
  color: black;
  display: flex;
  border: none;
  outline: none;
  background-color: white;
  width: 172px;
  margin-left: 15px;
  font-weight: bold;
}
//note: How to do on hover with button setup
.word-list-button:hover {
  color: #3395d6;
  background-color: #cde3f5;
}
