.create-form {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    width: 1500px;
    height: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.create-button {
    box-shadow:inset 0px 34px 0px -15px #2665A9 ;
	background-color:#2665A9 ;
	border:1px solid #2665A9 ;
	// display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Gill Sans";
    font-size: 15px;
    margin: -95px;
	// font-weight:bold;
	padding:12px 12px;
    text-decoration:none;
    // margin-right: 260px;
    // justify-content: flex-start;
    // padding-right: 4px;
    align-items: center;
    width: 100px;
    position: absolute;
    // margin-top: -300px;
    // margin-left: 500px;
    // margin-right: 300px;
    // margin-top: 300px;
    // margin-bottom: 300px;
    right: 500px;
    bottom: 300px;
}

.title-input {
    display: flex;
    width: 1000px;
    height: 30px;
}
.kind-input {
    display: flex;
    width: 1008px;
    height: 38px;
}
.response-input {
    display: flex;
    width: 1000px;
    height: 30px;
}
.closed-input {
    display: flex;
    // width: 30x;
    height: 30px;
}

.registered-input {
    display: flex;
    // width: 30px;
    height: 30px;
}

.close-x {
    box-shadow:inset 0px 34px 0px -15px #2665A9 ;
	background-color:#2665A9 ;
	border:1px solid #2665A9 ;
	// display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Gill Sans";
    font-size: 15px;
    // margin: -95px;
	// font-weight:bold;
	padding:12px 12px;
    text-decoration:none;
    // margin-right: 260px;
    // justify-content: flex-start;
    // padding-right: 4px;
    align-items: center;
    // width: 20px;
    position: absolute;
    // margin-top: -300px;
    top: -100px;
    
}
