@import "./fonts.scss";
@import "./buttons.scss";
.edit-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // justify-content: space-around;
  padding: 100px;
}

// .edit-page {
//     display: flex;
//     height: 1000px;
//     width: 100%;
//     // justify-content: space-around;
// }

// .title-label {
//     display: flex
// }

// .close-label {
//     display: flex;
// }

// .register-label {
//     display: flex;
// }

.edit-white-box {
  width: 20%;
  height: 100%;
  background-color: white;
  // overflow: hidden;
  display: flex;
  // justify-content: space-around;
  align-items: flex-end;
}

.edit-title-box {
  display: flex;
  width: 80%;
  height: 50px;
  outline: none;
  border: none;
  font-size: $main-button-link;
}
