// .edit-form {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     // justify-content: space-around;
//     padding: 100px
// }

// .edit-page {
//     display: flex;
//     height: 1000px;
//     width: 100%;
//     // justify-content: space-around;
// }

// .title-label {
//     display: flex
// }

// .close-label {
//     display: flex;
// }

// .register-label {
//     display: flex;
// }

// .save-button {
//     // display: flex;
//     box-shadow: inset 0px 34px 0px -15px #2665A9;
//     background-color: #2665A9;
//     border: 1px solid #2665A9;
//     cursor: pointer;
//     color: #ffffff;
//     font-family: "Gill Sans";
//     font-size: 15px;
//     margin: 15px;
//     padding: 9px 60px;
//     text-decoration: none;
//     justify-content: flex-start;
// }


.create-button {
    box-shadow:inset 0px 34px 0px -15px #2665A9 ;
	background-color:#2665A9 ;
	border:1px solid #2665A9 ;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family: "Gill Sans";
    font-size: 15px;
    margin: 0px;
	// font-weight:bold;
	// padding:9px 23px;
    text-decoration:none;
    width: 50%;
    height: 50px;
    // padding-top: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    outline: none;
    justify-content: center;
    align-items: center;
}

.edit-back-button {
    // box-shadow:inset 0px 34px 0px -15px #ffffff ;
    background-color:#ffffff ;
    border: none;
	border-top: 1px solid lightgrey ;
	display: flex;
	cursor:pointer;
	color:black;
	font-family: "Gill Sans";
    font-size: 15px;
    margin: 0px;
	// font-weight:bold;
	// padding:9px 23px;
    text-decoration:none;
    width: 33%;
    // padding-top: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    height: 50px;
    padding: 0px;
    // border: 0px;
    outline: none;
    justify-content: center;
    align-items: center;
    
}

.edit-white-box {
    width: 20%;
    height: 100%;
    background-color: white;
    // overflow: hidden;
    display: flex;
    // justify-content: space-around;
    align-items: flex-end;
}