.group-title {
  background-color: #efefef;
  color: black;
  cursor: pointer;
  padding: 18px;
  //   width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: $font;
  font-weight: 500;
}

.group-activities {
  margin-left: 800px;
  display: flex;
  justify-content: space-around;
}

.group-header {
  display: flex;
}

.group-buttons {
  display: flex;
  margin-bottom: 10px;
}
