.group-title {
  background-color: #efefef;
  color: black;
  cursor: pointer;
  padding: 18px;
  //   width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: $font;
  font-weight: 500;
  width: 100%;
}

.group-activities {
  display: flex;
}
.group-activities-title {
  margin-top: 5px;
  margin-left: 5px;
}
.group-header {
  display: flex;

  justify-content: space-between;
}

.group-buttons {
  display: flex;
  margin-bottom: 10px;
}
