.poll-nav-bar {
  background-color: #373737;
  height: 50px;
}

.poll-mini-logo {
  width: 5%;
}

.poll-items {
  display: flex;
  justify-content: center;

  color: white;
  text-decoration: none;
  padding-top: 10px;
}

.poll-home {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-left: 8px;
  color: white;
  text-decoration: none;
}

.poll-page {
  //   background-color: #000000;
  height: 1000px;
  width: 100%;
  background-image: image_url("GreyLogo.png");
  background-position-x: right;
  background-repeat: no-repeat;
  padding-left: -5px;
  overflow: hidden;
}

.poll-logo {
  display: flex;
  justify-content: center;
}

.PollEverywhere-blacklogo {
  height: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
