@import "./fonts.scss";
@import "./buttons.scss";

.poll-nav-bar {
  background-color: #373737;
  height: 50px;
}

.poll-mini-logo {
  width: 5%;
}

.poll-items {
  position: absolute;
  right: 42%;
  display: flex;
  color: white;
  text-decoration: none;
  padding-top: 10px;
}

.poll-home {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  text-decoration: none;
}

.poll-page {
  //
  background-color: #000000;
  height: calc(100vh - 50px);
  width: 100%;
  background-image: image_url("GreyLogo.png");
  // background-size: auto;
  // background-position-x: right;
  background-size: cover;
  padding-left: -5px;
  // overflow: scroll;
  color: white;
  background-repeat: no-repeat;
}
.fa,
.fas {
  margin-top: 5px;
  margin-left: 5px;
}

.poll-logo {
  display: flex;
  justify-content: flex-end;
  color: lightgray;
  text-decoration: none;
}

.PollEverywhere-blacklogo {
  height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.black-box {
  h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}
.form-box-black-container {
  padding-top: 50px;
}
.form-box-black {
  color: white;
  background-color: black;
  width: 460px;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  justify-content: center;
  border-radius: 3px;
  padding-left: 35px;
  margin: 0px auto;
  outline: none;
  .error-items {
    margin-left: 60px;
  }
}

.link-input {
  width: 292px;
  height: 30px;
  margin-left: 65px;
  outline: none;
  font-weight: 600;
  margin-bottom: 10px;
}

.join-title {
  font-weight: 600;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 15px;
}
.join-subtitle {
  font-weight: 600;
  margin-bottom: 30px;
  margin-right: 15px;
}

.link-join-button {
  margin-left: 55px;
}
.answers {
  color: white;
}
