@import "./fonts.scss";
@import "./buttons.scss";

.show-page {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  margin-top: 60px;
  overflow: hidden;
  // overflow: hidden;
}

.grey-box {
  display: flex;
  background-color: lightgrey;
  width: 80%;
  height: 100%;
  // overflow: hidden;
}

.mult-choice-image {
  background-image: image_url("mult-choice-logo.png");
  background-size: cover;
  width: 121px;
  height: 137px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.survey-choice-image {
  background-image: image_url("survey-logo.png");
  background-size: cover;
  width: 121px;
  height: 137px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.click-images {
  display: flex;
}

.white-box {
  width: 20%;
  height: 100%;
  background-color: white;
  // overflow: hidden;
  display: flex;
  // justify-content: space-around;
  align-items: flex-end;
}

.button-box {
  display: flex;
  width: 100%;
}
