




.show-page {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    margin-top: 60px;
    overflow: hidden;
    // overflow: hidden;
}


.grey-box {
    display: flex;
    background-color: lightgrey;
    width: 80%;
    height: 100%;
    // overflow: hidden;
}

.mult-choice-image {
    background-image: image_url('mult-choice-logo.png');
    background-size: cover;
    width: 121px;
    height: 137px;
    margin-bottom: 20px;

}

.survey-choice-image {
    background-image: image_url('survey-logo.png');
    background-size: cover;
    width: 121px;
    height: 137px;
    margin-bottom: 20px;

}

.click-images {
    display: flex;
}


.white-box {
    width: 20%;
    height: 100%;
    background-color: white;
    // overflow: hidden;
    display: flex;
    // justify-content: space-around;
    align-items: flex-end;
}

.edit-button {
    box-shadow:inset 0px 34px 0px -15px #2665A9 ;
	background-color:#2665A9 ;
	border:1px solid #2665A9 ;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family: "Gill Sans";
    font-size: 15px;
    margin: 0px;
	// font-weight:bold;
	// padding:9px 23px;
    text-decoration:none;
    width: 33%;
    height: 50px;
    // padding-top: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    outline: none;
    justify-content: center;
    align-items: center;
}

.activate-button {
    // box-shadow:inset 0px 34px 0px -15px #ffffff ;
    background-color:#ffffff ;
    border: none;
	border-top: 1px solid lightgrey ;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family: "Gill Sans";
    font-size: 15px;
    margin: 0px;
	// font-weight:bold;
	// padding:9px 23px;
    text-decoration:none;
    width: 33%;
    height: 50px;
    outline: none;
    // padding-top: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
}

.back-button {
    // box-shadow:inset 0px 34px 0px -15px #ffffff ;
    background-color:#ffffff ;
    border: none;
	border-top: 1px solid lightgrey ;
	display: flex;
	cursor:pointer;
	color:black;
	font-family: "Gill Sans";
    font-size: 15px;
    margin: 0px;
	// font-weight:bold;
	// padding:9px 23px;
    text-decoration:none;
    width: 33%;
    // padding-top: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    height: 50px;
    padding: 0px;
    // border: 0px;
    outline: none;
    justify-content: center;
    align-items: center;
    
}

.back-button:hover {
    background-color: #EDEDED ;
}
.activate-button:hover {
    background-color: #EDEDED;
    height: 50px;
}

.edit-button:hover {
    background-color: #0168AD
}

.button-box {
    display: flex;
    width: 100%;
}