.username-page {
  background-color: black;
  width: 100%;
  height: 1000px;
}

.username-form-box {
  color: white;
  display: flex;
  flex-direction: column;

  padding-top: 30px;
  font-style: $font;
  width: 300px;
  position: absolute;
  left: 50%;
}

.username-paragraph-title {
  font-style: $font;
  font-weight: 600;
}
.username-paragraph {
  font-style: $font;
}

.subtext {
  margin-top: 30px;
  font-style: $font;
  width: 300px;
  display: flex;
  align-items: center;
}

.skip {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
}

.username-title {
  margin-bottom: 20px;
}
.link {
  margin-top: 20px;
}
