.username-page {
  background-color: black;
  width: 100%;
  height: calc(100vh - 50px);
}

.username-form-box {
  color: white;
  display: flex;
  flex-direction: column;

  padding-top: 30px;
  width: 300px;
  position: absolute;
  left: 42%;
}

.username-paragraph-title {
  font-weight: 600;
  margin-bottom: 5px;
}
.username-paragraph {
}

.subtext {
  margin-top: 10px;
  // width: 300px;
  display: flex;
  align-items: center;
}

.skip {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
}

.username-title {
  margin-bottom: 20px;
}
.link {
  margin-top: 20px;
}
